<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link href="./style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="../src/target.png" />
          <h1>TargetTracker</h1>
        </div>
        <div class="buttons">
          <form action="/logout" method="POST">
            <button type="submit" class="logout">Log out</button>
          </form>
          <div class="user">
            <svg
              class="user"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              viewBox="0 0 25 25"
              fill="none"
            >
              <path
                d="M12.5002 0.833252C14.0473 0.833252 15.531 1.44783 16.625 2.5418C17.7189 3.63576 18.3335 5.11949 18.3335 6.66659C18.3335 8.21368 17.7189 9.69741 16.625 10.7914C15.531 11.8853 14.0473 12.4999 12.5002 12.4999C10.9531 12.4999 9.46934 11.8853 8.37537 10.7914C7.28141 9.69741 6.66683 8.21368 6.66683 6.66659C6.66683 5.11949 7.28141 3.63576 8.37537 2.5418C9.46934 1.44783 10.9531 0.833252 12.5002 0.833252ZM12.5002 15.4166C18.946 15.4166 24.1668 18.027 24.1668 21.2499V24.1666H0.833496V21.2499C0.833496 18.027 6.05433 15.4166 12.5002 15.4166Z"
                fill="black"
              />
            </svg>
          </div>
        </div>
      </nav>
    </header>
    <h1 class="prof-title">Profile</h1>
    <div class="backendMessages">
      <!-- Add the following hidden div for displaying the success message after redirect -->
      <div id="successMessage" style="display: none;">
        <p style="color: green;">Profile updated successfully!</p>
      </div>
    
      <!-- Add the following hidden div for displaying the error message after redirect -->
      <div id="errorMessage" style="display: none;">
        <p style="color: red;">Failed to update profile. Email already in use.</p>
      </div>
    </div>
    <div class="container">
      <div class="main-wrapper">
        <div class="profile">
          <img class="upload" src="../src/upload.png" />
          <p class="p-upload">Upload Picture</p>
        </div>
        <div class="form-content">
          <form id="updateProfileForm" onsubmit="updateProfile(event);">
            <div class="task-title">
              <label for="name" class="input-title">Full Name:</label>
              <input id="name" type="text" name="fullName" />
            </div>
            <div class="number">
              <label for="number" class="input-right">Phone Number:</label>
              <input id="number" type="tel" name="phoneNumber" />
            </div>
            <div class="input-e">
              <label for="email" class="input-email">Email Address:</label>
              <input id="email" type="email" name="email" />
            </div>
            <div class="input-e">
              <label for="pass" class="input-pass">Password:</label>
              <input id="pass" type="password" name="password" />
            </div>
            <button type="submit" class="create">Save Update</button>
            <p class="delete">Delete Account</p>
          </form>          
        </div>
      </div>
    </div>

    <script>
      function updateProfile(event) {
          event.preventDefault(); // Prevent the default form submission
          // Create a JavaScript object with the data
          const data = {
            fullName: document.getElementById('name').value,
            phoneNumber: document.getElementById('number').value,
            email: document.getElementById('email').value,
            password: document.getElementById('pass').value,
          };
        
          console.log(data); // Add this line to log the FormData object

          fetch('http://localhost:3000/updateUserProfile', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          })
          .then(response => {
            console.log('Response from server:', response);
            if (response.ok) {
              document.getElementById('successMessage').style.display = 'block';
              document.getElementById('updateProfileForm').reset();
            } else {
              document.getElementById('errorMessage').style.display = 'block';
              document.getElementById('updateProfileForm').reset();
            }
          })
          .catch(error => {
            console.error('error:' + error);
          });
      }

      function deleteProfile() {
          const url = '/deleteProfile';

          axios.delete(url)
              .then(response => {
                  console.log(response.data); // Handle success response
                  // You can also handle success messages or redirects here
              })
              .catch(error => {
                  console.error('Error deleting profile:', error);
                  // Handle error, display error messages, etc.
              });
      }
    </script>
  </body>
</html>
