* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
}
/*HEADER*/
header {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #e0e0e0;
  box-shadow: 5px 5px 10px #e0e0e0;

}
header .navbar {
  display: flex;
  padding: .62rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 6rem;
}
.navbar .logo h1 {
  font-size: 25px;
  font-family: "Ramaraja";
  color: #49a6fc;
}
 .navbar .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar .logo img {
  width: 40px;
  height: 40px;
}
.navbar button {
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 90px;
  cursor: pointer;
}
.navbar .login {
  background-color: #e0e0e0;
  color: #49a6fc;
}
.navbar .login:hover {
  background-color: #49a6fc;
  color: white;
}
.navbar .signup {
  background: #49a6fc;
  color: white;
  margin-left: 10px;
}
.navbar .signup:hover {
  color: black;
}


/*HERO*/
.hero-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 0;
  margin: 0 6rem;
}
.hero-content .title {
  color: #000;
  font-family: "Sanchez";
  font-size: 50px;
  font-weight: 400;
  width: 638px;
  padding: 6rem 0;
}
.hero-content .title span {
  color: #49a6fc;
}
.hero-content .image .buddy {
  height: 400px;
  width: auto;
}
/*FOOTER*/
footer {
  background-color: #49a6fc;
}
.footer-content{
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.footer-list {
  display: flex;
  cursor: pointer;
  gap: 40px;
  align-items: center;
}
footer ul {
  list-style: none;
}
footer ul li, .footer-task-version {
  color: white;
}
footer ul li:hover {
  color: #e0e0e0;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 700px) {
  body {
    display: block;
  }
}
