* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
}
/*HEADER*/
header {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #e0e0e0;
  box-shadow: 5px 5px 10px #e0e0e0;
}
header .navbar {
  display: flex;
  padding: 0.62rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 6rem;
}
.navbar .logo h1 {
  font-size: 25px;
  font-family: "Ramaraja";
  color: #49a6fc;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar .logo img {
  width: 40px;
  height: 40px;
}
.navbar button {
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 90px;
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
}
.navbar .logout {
  background-color: #fff;
  color: red;
}
.navbar .logout:hover {
  background-color: #49a6fc;
  color: white;
}
.user {
  display: inline;
  margin-left: 5px;
  cursor: pointer;
}
/*CONTAINER*/
.container {
  text-align: center;
  margin-top: 1.5rem;
}
#dateDisplay {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  gap: 10px;
}
.calendar {
  display: flex;
  align-items: center;
  gap: 1em;
}
.main-wrapper {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #d9d9d9;
  width: 80%;
}
.arrows {
  height: 30px;
  cursor: pointer;
}
.calName {
  margin-left: 10px;
  margin-right: 10px;
}
.task {
  padding: 2rem 0;
  font-size: inherit;
}
.task-title {
  margin-top: 25px;
  margin-bottom: -20px;
  font-size: 40px;
}
.task-message {
  display: flex;
  justify-content: center;
}
.task-wrapper {
  display: flex;
  justify-content: center;
}
.task-container {
  padding-bottom: 16em;
}
p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.create {
  width: 200px;
  height: 58px;
  border-radius: 30px;
  border-color: #49a6fc;
  background-color: #fff;
  color: #49a6fc;
  cursor: pointer;
}
/*FOOTER*/
footer {
  background-color: #49a6fc;
}
.footer-content {
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.footer-list {
  display: flex;
  cursor: pointer;
  gap: 40px;
  align-items: center;
}
footer ul {
  list-style: none;
}
footer ul li,
.footer-task-version {
  color: white;
}
footer ul li:hover {
  color: #e0e0e0;
}
/*Task rows*/
.movements {
  border: solid;
  margin-top: 20px;
  border-color: #666;
  overflow: scroll;
  overflow-x: hidden;
  height: 580px;
  width: 890px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.movements__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-size: 15px;
}
.no-task {
  text-align: center;
  justify-content: center;
}
.details {
  border-style: solid;
  background-color: white;
  border-color: #49a6fc;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  color: #49a6fc;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.details:hover,
.done:hover {
  background-color: #e2e2e2;
}
.done {
  border-style: solid;
  background-color: white;
  border-color: red;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  color: red;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.delete {
  background-color: white;
  border-style: solid;
  border-color: red;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  color: red;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.delete:hover {
  background-color: #e2e2e2;
}
.no-task {
  text-align: center;
}
.description-info {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}
.bold {
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.hidden-movements {
  border: none;
  box-shadow: none;
  overflow-y: hidden;
}

.task-title {
  padding-bottom: 50px;
  text-align: center;
}
/* width */
.movements::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.movements::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.movements::-webkit-scrollbar-thumb {
  background: #49a6fc;
  border-radius: 100px;
  size: 5px;
}

/* Handle on hover */
.movements::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}
